- name: Updating "{{ service_name }}" server codebase and starting its service.
  hosts: all
  remote_user: abhinav
  become: yes
  vars: 
    repo_dir: /data/codebase/connecto
  tasks:

   - name: stopping nginx service
     service:
        name: nginx
        state: stopped


   - name: Performing git checkout in the specified directory "{{ repo_dir }}"
     command: git checkout .
     args:
        chdir: "{{ repo_dir }}"
     become_user: connecto
     become: yes

        
   - name: switching branch to master branch
     command: git checkout master
     args:
        chdir: "{{ path }}"
     become_user: connecto
     become: yes


   - name: Taking pull from bitbucket master branch
     git:
        repo: ssh://bitbucket.org/girnarsoftware/connecto.git
        dest: "{{ repo_dir }}"
        update: yes
        version: master
        accept_hostkey: yes
        key_file: /home/connecto/.ssh/id_rsa
     become_user: connecto
     become: yes


   - name: Running npm install in directory "{{ path }}"
     npm: 
        path: "{{ path }}"
        state: present
     environment:
        PATH: /home/connecto/.nvm/versions/node/v8.15.0/bin
     become_user: connecto
     become: yes


   - name: Running npm install in directory {{ repo_dir }}/lib as well"
     npm: 
        path: "{{ repo_dir }}/lib"
        state: present
     environment:
        PATH: /home/connecto/.nvm/versions/node/v8.15.0/bin
     become_user: connecto
     become: yes


   - name: Restarting the "{{ service_name }}" service
     command: pm2 restart "{{ service_name }}"
     args:
        chdir: "{{ repo_dir }}"
     environment:
        PATH: /home/connecto/.nvm/versions/node/v8.15.0/bin
     become_user: connecto
     become: yes

     
   - name: starting nginx service
     service:
        name: nginx
        state: started