- hosts: all
  vars:
    test: "Test Successfull"
    repo_dir: /data/codebase/connecto
    path: /data/codebase/connecto/api
  tasks:
   - debug:
        msg: "{{ lookup('env','PATH') }} is an environment variable"
     become_user: connecto
     become: yes   
          
   # - name: Running npm install in directory "{{ path }} and {{ repo_dir }}/lib as well"
   #   command: npm install
   #   args:
   #      chdir: "{{ item }}"
   #   loop:
   #      - "{{ path }}"
   #      - "{{ repo_dir }}/lib"
   #   become_user: yash
   #   become: yes
  
   - name: switching branch to master branch
     command: git checkout master
     args:
        chdir: "{{ path }}"
     become_user: connecto
     become: yes

   - name: npm command
     shell: echo $PATH
     args:
        chdir: "{{ path }}" 
        executable: /bin/bash
     become_user: connecto
     become: yes

