- hosts: all
  vars:
    test: "Test Successfull"
    repo_dir: /data/codebase/connecto
    path_api: /data/codebase/connecto/api
  remote_user: abhinav
  become: yes
  tasks:
   - debug:
        msg: "{{ lookup('env','HOME') }} is HOME directory"   
     become_user: connecto
     become: yes


   - debug:
        msg: "{{ ansible_env.PATH }} PATH Variable"   
     become_user: connecto
     become: yes

   
   - debug:
        msg: "{{ lookup('env','PATH') }} ENV PATH Variable"   
     become_user: connecto
     become: yes

   # - name: Running npm install in directory "{{ path }} and {{ repo_dir }}/lib as well"
   #   command: npm install
   #   args:
   #      chdir: "{{ item }}"
   #   loop:
   #      - "{{ path }}"
   #      - "{{ repo_dir }}/lib"
   #   become_user: yash
   #   become: yes

  
   - name: Taking pull from bitbucket master branch
     git:
        repo: ssh://bitbucket.org/girnarsoftware/connecto.git
        dest: "{{ repo_dir }}"
        update: yes
        version: master
        accept_hostkey: yes
        key_file: /home/connecto/.ssh/id_rsa
     become_user: connecto
     become: yes


   - name: switching branch to master branch
     command: git checkout master
     args:
        chdir: "{{ path_api }}"
     become_user: connecto
     become: yes


   - name: npm command
     shell: 
     args:
        cmd: /home/connecto/.nvm/versions/node/v8.15.0/bin/npm install
        chdir: "{{ path_api }}" 
        executable: /bin/bash
     become_user: connecto
     become: yes

